.navbar{
  display: flex;
  background:linear-gradient(to bottom, rgba(240, 106, 115, 0.6), rgba(167, 216, 216, 0.3));
  height: 7em;
  margin-bottom: 2em;
}

.navbar:hover{
  background:linear-gradient(to bottom, rgba(240, 106, 115, 0.8), rgba(167, 216, 216, 1));
}

.navlink{
  flex:1 ;
  text-align: center;
}

.navlink a{
  font-size: 2em;
  color: rgba(126, 104, 106, 1);
}

.navlink a:hover{
  color: rgb(81, 147, 197);
  font-size: 2.2em;
  text-decoration: none;
}

.title{
  text-align: center;
  margin-top: 2em;
  color: rgba(126, 104, 106, 1);
}

.enterName{
  text-align: center;
  padding:1em;
}

.introContainer{
  display: flex;
  justify-content: center;

}

.box1{
  flex-basis: 90%;
  margin-bottom: 4em;
  text-align: center;
}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2em;
}

.container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: linear-gradient(to left, rgba(153, 195, 228,0.6),rgba(214, 166, 118, 0.6));
}

.container > div:hover{
  padding: 1em;
  background: linear-gradient(to left, rgba(153, 195, 228,0.8),rgba(214, 166, 118, 1));
}
.container > div:nth-child(odd){
  padding: 1em;
  background: radial-gradient(rgba(194,202,208,0.6),rgba(231,113,125,0.6));
}

.container > div:nth-child(odd):hover{
  padding: 0.5em;
  background: radial-gradient(rgba(194,202,208,1),rgba(231,113,125,1));
}

body{
  background:url(background.jpeg);
  background-attachment: fixed;
}

footer{
  background:linear-gradient(to left,rgba(194,202,208,0.7),rgba(126,104,90,0.7));
  margin-top: 3em;
  height: 6em;
}

footer:hover{
  background:linear-gradient(to left,rgba(194,202,208,1),rgba(126,104,90,1));
  margin-top: 3em;
  height: 6em;
}

img{
 width: 90%;
 height: 90%;
}