.navbar{
  display: flex;
  background:linear-gradient(to bottom, #7e686a, #c2b9b0);
  height: 7em;
  margin-bottom: 2em;
  opacity: 60%;
}

.navbar:hover{
  opacity: 100%;
}

.navlink{
  flex:1 ;
  text-align: center;
}

.navlink a{
  font-size: 2em;
  color: #c2b9b0;
}

.navlink a:hover{
  color: #c2cad0;
  font-size: 2.2em;
  text-decoration: none;
}

.title{
  text-align: center;
  margin-top: 1em;
  color: #7e686a;
}

.enterName{
  text-align: center;
  padding:1em;
}

.main{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 100%;
}

.introContainer{
  display: flex;
  justify-content: center;
}

.box1{
  flex-basis: 90%;
  margin-bottom: 1em;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2em;
}


.container > div{
  padding: 1em;
  background: linear-gradient(to left, rgba(194,202,208,0.6),rgba(194,185,176,0.6));
}

.container > div:hover{
  padding: 1em;
  background: linear-gradient(to left, rgba(194,202,208,1),rgba(194,185,176,1));
}
.container > div:nth-child(odd){
  padding: 1em;
  background: radial-gradient(rgba(194,202,208,0.6),rgba(231,113,125,0.6));
}

.container > div:nth-child(odd):hover{
  padding: 1em;
  background: radial-gradient(rgba(194,202,208,1),rgba(231,113,125,1));
}


.border{
  background-color: (#c2cad0);
}

body{
  background:url(background.jpeg);
  background-attachment: fixed;
}

footer{
  background:linear-gradient(to left,rgba(194,202,208,0.7),rgba(126,104,90,0.7));
  margin-top: 3em;
  height: 6em;
}

footer:hover{
  background:linear-gradient(to left,rgba(194,202,208,1),rgba(126,104,90,1));
  margin-top: 3em;
  height: 6em;
}